@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');
html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}
body{
    font-family: 'Cabin', sans-serif;
    .navbar{
        width: 86%;
        height: 80px;

        margin: auto;
        .nav-brand{
            float: left;
            width: 34%;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 60px;
            }
            span{
                font-size: 25px;
                font-weight: 600;
                margin: 0px 10px;
                color: #5C82C2;
            }
        }
        .nav-search{
            float: left;
            width: 31%;
            height: 80px;

            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            #search-input{
                width: 70%;
                height: 30px;
                border-radius: 20px;
                border: 3px solid #D1D1D1;
                padding: 5px 45px 5px 20px;
                font-size: 16px;
                font-weight: 600;
                color:#413F42;
                background-color: transparent;
                background-image: url("https://i.hizliresim.com/d8ulnr6.png");
                background-size:5%;
                background-repeat: no-repeat;
                background-position: 96%;
                &::placeholder{
                    color:#D1D1D1;
                }
                &:focus{
                    outline: none;
                    border: 3px solid #6593e2;
                }
            }
        }
        .my-account{
            float: left;
            width: 34%;
            height: 80px;

            display: flex;
            justify-content: center;
            align-items: center;
            .account-group{
                width: 120px;
                height: 40px;
                margin: 0px 5px; 
                border-radius: 8px;
                border: 2px solid #6593e2;
                color:   #6593e2;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                .material-icons{
                    padding: 0px 10px 0px 0px;
                    font-size: 20px;
                }
                .account-group-title{
                    font-size: 18px;
                    font-weight: 600;
                }
                &:hover{
                    border: 2px solid #6593e2;
                    background-color: #6593e2;
                    color:   #fff;
                    cursor: pointer;
                    .account-detail{
                        display: flex;
                    }
                }
                .account-detail{
                    width: 200px;
                    height: 390px;
                    position: absolute;
                    top: 40px;
                    right: 0%;
                    border-radius: 10px;
                    display: none;
                    .account-list{
                        width: 200px;
                        height: 370px;
                        background-color: #E1E5EA;
                        list-style: none;
                        margin-top: 10px;
                        border-radius: 8px;
                        padding-top: 10px;
                        .account-link{
                            float: left;
                            width: 150px;
                            height: 30px;
                            margin: 8px 0px;
                            font-weight: 600;
                            margin-left: -20px;
                            a{
                                display: flex;
                                align-items: center;
                                width: 150px;
                                height: 30px;
                                border-bottom: 1px solid #757575;
                                text-decoration: none;
                                color: #393E46;
                                padding: 4px 0px;
                                span{
                                    color: #5C82C2;
                                }
                                &:hover{
                                    color: #92A9BD;
                                }
                            }
                        }
                        
                    }
                }
            }
        }
    }
}